* {
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif !important;
}

#loadingscreen {
    background-image: url('../img/1.Sharkie/3.Swim/PreviewOP2.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 900;
}

.d-none {
    display: none;
}

#rotaDisplay {
    display: none;
}

#restartBtn {
    z-index: 999;
}

#touch-area-left,
#touch-area-left-img,
#touch-area-right,
#bubbleAttackTouch,
#slapAttackTouch {
    display: none;
    opacity: 0.8;
}

body,
html {
    background-color: black;
    margin: 0;
    padding: 0;
    display: block;
}

#fullscreen {
    position: fixed;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/3.Background/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#canvasOver,
.canvasOver {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.canvas-field {
    /* position: relative;
    display: flex;
    justify-content: center;
    height: 480px;
    width: 720px; */
}

#gameOverScreen,
#winnerScreen {
    z-index: 9999;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 60px;
    height: auto;
    width: 75%;
}

canvas {
    background-color: rgb(0, 0, 0);
    margin-right: auto;
    margin-left: auto;
    display: none;
    border-radius: 10px;
    border: border: 1px solid rgba(255, 255, 255, 0.1);
}

h1 {
    color: rgb(132, 0, 255);
    font-size: 48px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    overflow: hidden;
    margin: 8px 0;
}

#HowToPlay {
    color: rgb(255, 230, 0);
    height: 480px;
    width: 720px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    text-align: center;
    /* Absolute centering: */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-image: url('../img/3.Background/Dark/1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.displayNone {
    display: none;
}

.displayFlex {
    display: flex;
}

/* Button container */
.btn-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 50px;
    /* border-radius: 25px; */
    /* background-color: rgb(132, 0, 255);
    border: rgb(132, 0, 255) solid; */
    cursor: pointer;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255, 255, 255, 0.8);
    z-index: 9;
}

/* Button text */
.btn-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 100px%;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 0.2s ease;
    margin: 10px;
}

#toggleGame {
    z-index: 999;
}

/* Hover effect */
.btn-container:hover .btn-text {
    transform: translateY(-3px);
}

/* Active effect */
.btn-container:active .btn-text {
    transform: translateY(0);
    transition: none;
}

/* Smartphones */

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    #winnerScreen {
        width: 75%;
        bottom: 50px;
    }

    .btn-text {
        width: 170px;
        margin: 6px;
        padding: 0;
    }

    .btn-container {
        height: 40px;
    }

    h1 {
        font-size: 42px;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px),
(max-width: 720px) {
    #toggleGame {
        position: fixed;
        bottom: 25%;
        top: 75%;
    }


    #winnerScreen {
        width: 74%;
        bottom: 50%;
        top: 49%;
    }

    #fullscreen-button {
        display: none;
    }

    .btn-text {
        width: 170px;
        margin: 6px;
        padding: 0;
    }

    .btn-container {
        height: 40px;
    }

    h1 {
        font-size: 42px;
    }

    h2 {
        margin: 0;
    }

    #gameOverScreen,
#winnerScreen {
    top: 40px;
    width: 55%;
}

    #HowToPlay {
        font-size: 14px;
        font-weight: 200;
    }

    #HowToPlay>span {
        font-size: 14px;
        font-weight: 200;
    }

    #touch-area-left {
        height: 140px;
        width: 220px;
        position: fixed;
        left: 5%;
        bottom: 10%;
        display: flex;
        flex-direction: column;
    }

    #touch-area-right {
        display: block;
        position: fixed;
        right: 5px;
        bottom: 5px;
        height: 250px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: rotate(45deg);
    }

    .touchBtn {
        height: 70px;
        width: 75px;
    }

    #bubbleAttackTouch,
    #slapAttackTouch {
        display: flex;
        transform: rotate(129deg);
    }

    .attack-btn {
        height: 115px;
        width: 115px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #touch-area-left-img {
        height: 140px;
        width: 220px;
        display: block;
    }

    .span-wrap {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 95%;
    }

    .touchbtn-left {
        height: 140px;
        width: 220px;
        position: fixed;
        left: 5%;
        bottom: 10%;
        display: flex;
        flex-direction: column;
    }

    .touchbtn-rows {
        width: 225px;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #rotaDisplay {
        display: none;
    }
}

@media (max-width: 820px) and (orientation: portrait) {
    #rotaDisplay {
        display: flex !important;
        align-items: center;
        justify-content: center;
        z-index: 999;
        height: 100vh;
    }

    #touch-area-left,
    #toggleGame,
    #touch-area-right,
    #bubbleAttackTouch,
    #slapAttackTouch,
    #loadingscreen {
        display: none !important;
    }
}